* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: red(246, 5, 5, 0%);
  overflow: hidden;
  font-family: "Lato", sans-serif;
  transition: background-color 1s ease;
}
.game-Container::before {
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  background-image: url(images/bg.png);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image 1s ease;
}

.change-background::before {
  background-image: url(images/bgimg1.jpg);
  transition: background-image 1s ease;
}
#btnbox {
  margin: 1rem;
  display: flex;
}
.btn {
  cursor: pointer;
  font-size: 3rem;
  border: none;
  background: transparent;
  color: white;
  height: 4rem;
  width: 4rem;
}
.game-Container {
  display: flex;
  justify-content: space-between;
}
.scoreBox {
  display: flex;
  color: rgb(236, 60, 89);
  justify-content: center;
  align-items: center;
  border: 0.2rem solid white;
  font-family: "Zilla Slab", serif;
  border-radius: 1rem;
  height: 4rem;
  width: 22rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  margin: 1.5rem;
}
.messageBox {
  opacity: 0;
  font-family: "Dancing Script", cursive;
  /* position: absolute; */
  /* top: 4%; */
  /* left: 39%; */
  font-size: 4rem;
  color: #ff0000;
  font-family: "Lilita One", cursive;
  transition: opacity 0.4s ease-in-out;
}
.playerBox {
  height: 10rem;
  width: 6rem;
  background-image: url(images/player.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0rem;
  transition: bottom 0.7s ease;
  /* bottom: 16rem; */
  left: 9rem;
}
.monsterBox {
  height: 8rem;
  width: 8rem;
  background-image: url(images/powerfly.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.animatePlayer {
  animation: playerAni 1s ease-in-out;
}

@keyframes playerAni {
  0% {
    bottom: 0rem;
  }
  50% {
    bottom: 10rem;
  }
  100% {
    bottom: 0rem;
  }
}

.animateMonster {
  animation: monsAni 4s infinite linear;
  transition: animation-duration 0.5s;
}

@keyframes monsAni {
  0% {
    right: -30vw;
  }
  100% {
    right: 110vw;
  }
}

.pause-animation {
  animation-play-state: paused;
}
.color-btn {
  color: red;
}

/* Increases Height of the Monsters (Added Dynamically */
.incHeight {
  bottom: 9rem;
}

/* Invisibility powerup */
.powerinv {
  animation: invisibility infinite 1.5s ease;
}
@keyframes invisibility {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

/* Flying powerup */
.powerfly {
  bottom: 16rem;
}

/* Animation */
.bar {
  animation: statbar 8s ease;
  /* animation-play-state: running; */
  overflow: hidden;
}
@keyframes statbar {
  0% {
    background-color: green;
    width: 40%;
    opacity: 1;
  }
  25% {
    background-color: rgb(153, 238, 144);
    opacity: 7;
  }
  50% {
    background-color: rgb(255, 153, 0);
    opacity: 4;
  }
  100% {
    background-color: red;
    width: 0%;
    opacity: 0;
  }
}
/* Status bar for Animating the status box */
.statusbar {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 25%;
  /* border: 2px solid; */
  overflow: hidden;
  height: 5rem;
  width: 43rem;
  padding-left: 1rem;
}

/* Responsive */
@media (max-width: 1000px) {
  .messageBox {
    top: 27%;
    left: 33%;
    font-size: 3rem;
  }
  .playerBox {
    height: 6rem;
    width: 3rem;
  }
  .monsterBox {
    height: 5rem;
    width: 5rem;
  }
}
