* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: red(246, 5, 5, 0%);
  overflow: hidden;
  font-family: "Lato", sans-serif;
  transition: background-color 1s ease;
}
.game-Container::before {
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  /* var(--variablename, defaultvalue) */
  background-image: var(--myvariable);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image 1s ease;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}

#btnbox {
  margin: 1rem;
  display: flex;
  width: 25%;
}
.btn {
  cursor: pointer;
  font-size: 3rem;
  border: none;
  background: transparent;
  color: #e8204c;
  height: 4rem;
  width: 4rem;
}
.game-Container {
  display: flex;
  height: 100vh;
}
.scoreBox {
  display: flex;
  color: rgb(236, 60, 89);
  justify-content: center;
  align-items: center;
  border: 0.2rem solid white;
  font-family: "Zilla Slab", serif;
  border-radius: 1rem;
  height: 4rem;
  width: 30%;
  padding: 0.5rem;
  font-size: 1.4rem;
  margin: 1.5rem;
  margin-left: auto;
}
.messageBox {
  opacity: 0;
  font-size: 4rem;
  color: #ff0000;
  font-family: "Lilita One", cursive;
  transition: opacity 0.4s ease-in-out;
}
.playerBox {
  height: 10rem;
  width: 6rem;
  background-image: url(images/player.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0rem;
  transition: bottom 0.7s ease;
  /* bottom: 16rem; */
  left: 9rem;
}
.monsterBox {
  height: 8rem;
  width: 8rem;
  background-image: url(images/monster.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.animatePlayer {
  animation: playerAni 1.2s ease-in-out;
}

@keyframes playerAni {
  0% {
    bottom: 0rem;
  }
  50% {
    bottom: 12rem;
  }
  100% {
    bottom: 0rem;
  }
}

.animateMonster {
  animation: monsAni 4s infinite linear;
  transition: animation-duration 0.5s;
}

@keyframes monsAni {
  0% {
    right: -30vw;
  }
  100% {
    right: 110vw;
  }
}

.pause-animation {
  animation-play-state: paused;
}
.color-btn {
  color: #e900ff;
}

/* Increases Height of the Monsters (Added Dynamically */
.incHeight {
  bottom: 9rem;
}

/* Invisibility powerup */
.powerinv {
  animation: invisibility infinite 1.5s ease;
}
@keyframes invisibility {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

/* Flying powerup */
.powerfly {
  bottom: 18rem;
}

/* Animation */
.bar {
  animation: statbar 8s ease;
  /* animation-play-state: running; */
  overflow: hidden;
}
@keyframes statbar {
  0% {
    background-color: green;
    width: 40%;
    opacity: 1;
  }
  25% {
    background-color: rgb(153, 238, 144);
    opacity: 7;
  }
  50% {
    background-color: rgb(255, 153, 0);
    opacity: 4;
  }
  100% {
    background-color: red;
    width: 0%;
    opacity: 0;
  }
}
/* Status bar for Animating the status box */
.statusbar {
  text-align: center;
  overflow: hidden;
  height: 5rem;
  width: 50%;
  margin: 1rem auto;
  padding-left: 1rem;
}
/* Menu Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0d0d0da8;
  position: absolute;
  height: 60%;
  width: 50%;
  border-radius: 1rem;
  left: 20%;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 0.6s ease-in-out;
}

#btn-cancel {
  position: absolute;
  right: 0;
  top: 3%;
}
#btn-left {
  position: absolute;
  top: 45%;
  left: 2%;
}
#btn-right {
  position: absolute;
  top: 45%;
  right: 0;
}

/* container items */
.title-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  /* border: 2px solid white; */
  height: 15%;
  width: 80%;
  border-radius: 1rem;
  /* transition: all 0.6s ease; */
}
.title-char {
  margin-left: 0.8rem;
}
.add-underline{
  border-bottom: 0.2rem solid red;
}
.img-box {
  /* border: 2px solid yellow; */
  height: 70%;
  width: 80%;
  overflow: hidden;
  border-radius: 1rem;
}
.img-box img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.btncont-box {
  width: 100%;
  /* border: 2px solid white; */
  height: 15%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 4.5rem;
}
.btn-sel {
  font-family: "Lato", sans-serif;
  cursor: pointer;
  font-size: 1.4rem;
  border: none;
  color: white;
  background-color: aquamarine;
  border-radius: 1rem;
  height: 2.5rem;
  width: 7rem;
  box-shadow: 3px 3px rgb(191 180 180 / 21%);
}
.btn-sel:active{
 background-color: red;
}

/* Responsive */
